# http://editorconfig.org
root = true # 表示是最顶层的配置文件，设为 true 时，停止向上查找

[*]
charset = utf-8
indent_style = space  # 设置缩进为 tab 或 space
indent_size = 2 # 设置缩进所占列数
max_line_length=150
end_of_line = lf  # 设置换行符，值为lf、cr和crlf
insert_final_newline = true
trim_trailing_whitespace = true # 设为 true 表示会去除行尾的空白字符

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
